.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  margin: 0 auto;
}

.link {
  font-weight: 500;
  color: var(--Primitive-Blue-500);
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 20px;
}
.or {
  position: relative;

  width: 100%;
}
.or::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 43%;
  height: 1px;
  transform: translateY(-50%);
  background: var(--Primary-transparent-6);
}
.or::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 43%;
  height: 1px;
  transform: translateY(-50%);
  background: var(--Primary-transparent-6);
}
.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6px;
}
.buttonContainer .button {
  color: var(--Primitive-Default);
  padding: 0;
}
.bottomBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  border-radius: var(--radius-0, 0px);
  background: var(--Primitive-transparent-8, rgba(0, 217, 149, 0.08));
  padding: 12px;

  /* background-blur/32 */
  backdrop-filter: blur(calc(var(--blur-32, 32px) / 2));
}
.bottomBar .button {
  padding: 0;
  color: var(--Primitive-Default);
}
@media only screen and (max-width: 991px) {
  .formContainer {
    padding-top: 48px;
  }
}
