.dropdown {
  position: relative;
}
.wFull {
  width: 100%;
}
.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--Primary-transparent-6);
  background: var(--Primary-transparent-3);
  padding: 6px 12px;
}
.transparent {
  border: none;
  background: none;
  padding: 0;
  border-left: 1px solid var(--Primitive-800);

  padding-left: 15px;
  gap: 24px;
}

.arrow {
  font-size: 14px;
  color: var(--Primitive-200);
  cursor: pointer;
  margin-left: auto;
}
.arrow.active {
  color: var(--Primitive-Default);
}
.dropdownMain {
  min-width: 100%;
  width: max-content;
  position: absolute;
  right: 0;
  left: auto;

  top: calc(100% + 8px);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;

  border-radius: 12px;

  border-radius: 8px;
  background: var(--Primitive-800);
  box-shadow: var(--depth-0, 0px) var(--depth-12, 12px) var(--blur-24, 24px)
      var(--depth--4, -4px) var(--color-black-32, rgba(0, 0, 0, 0.32)),
    var(--depth-0, 0px) var(--depth-6, 6px) var(--blur-16, 16px)
      var(--depth--6, -6px) var(--color-black-48, rgba(0, 0, 0, 0.48));
}
.v2 .dropdownMain {
  left: 50%;
  top: 0px;
  transform: translate(-50%, -100%);
  width: max-content;
}

.list {
  height: 0;
  overflow: hidden;
}

.dropdownMain.active {
  opacity: 1;
  pointer-events: all;
}
.active .list {
  overflow: auto;
  max-height: 250px;
  height: 100%;
  opacity: 1;
  pointer-events: all;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.4s ease;
  color: var(--Primitive-200);
  font-size: 14px;
  font-weight: 500;
}

.listItem.active {
  background: var(--Primitive-0);
}
.logo {
  max-width: 16px;
  width: 100%;
}
/* .listItem.active {
  color: var(--Heading-Primary);
} */
.listItem:hover {
  background: var(--Primary-transparent-3);
  color: var(--Primitive-0);
}
.listItem.active {
  color: var(--Primitive-Default);
  border-radius: 6px;
  background: var(--Primitive-transparent-8);
}
.above {
  bottom: 100%;
  top: auto;
}
