.modal {
  gap: 0;
  max-width: 540px;
}
.header {
  display: grid;
  align-items: center;
  grid-template-columns:
    1fr
    auto;
  gap: 20px;
  padding: 0 20px;
  padding-bottom: 16px;

  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--Primitive-900);
  border-bottom: 1px solid var(--Primary-transparent-8);
  position: relative;
}

.devider2 {
  position: absolute;
  bottom: 0;
  width: calc(100%);
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  height: 2px;
}
.closeButton {
  margin-left: auto;

  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.closeIcon {
  color: var(--Primitive-500);
  font-size: 20px;
}
.wrapper {
  padding: 0 12px;
  padding-top: 18px;
  padding-bottom: 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  padding-right: 8px;
  position: relative;
}
.devider {
  position: absolute;
  top: -18px;
  left: auto;
  right: 0;
  height: calc(100% + 30px);

  z-index: 1;
}
.navItem {
  padding: 8px 12px;
  font-size: 14px;
  color: var(--Primitive-200);
  font-weight: 500;
  border-radius: 6px;
  width: 100%;
}
.navItem.active {
  color: var(--Primitive-Default);

  background: var(--Primitive-transparent-8);
  backdrop-filter: blur(calc(var(--blur-32, 32px) / 2));
}
.sidebarCloseIcon,
.sidebarIcon {
  display: none;
}
.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
@media only screen and (max-width: 520px) {
  .header {
    grid-template-columns:
      auto 1fr
      auto;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
  .navItems {
    transform: translateX(-250%);
    transition: 0.3s;
    position: fixed;
    top: 75px;
    left: 0;
    max-width: 150px;
    background: var(--Primitive-900);
    height: calc(100% - 75px);
    z-index: 1;
  }

  .sidebar {
    transform: translateX(0);
    right: 0;
  }
  .sidebarCloseIcon,
  .sidebarIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Primitive-500);
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
  }
  .sidebarcloseicon:hover,
  .sidebarIcon:hover {
    color: var(--Primitive-0);
  }
}
