.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  color: var(--Primitive-500);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
}
.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 42px;
  width: 100%;

  padding: 10px 16px;
  border-radius: 8px;

  border-radius: var(--radius-8, 8px);
  border: 1px solid var(--Primary-transparent-8);
  background: var(--Primary-transparent-6);
  box-shadow: var(--depth-0, 0px) var(--depth-1, 1px) var(--blur-2, 2px)
      var(--depth-0, 0px) var(--color-black-32, rgba(0, 0, 0, 0.32)),
    var(--depth-0, 0px) var(--depth-0, 0px) var(--blur-1, 1px)
      var(--depth-0, 0px) var(--color-black-24, rgba(0, 0, 0, 0.24));
}
.sm {
  min-height: 32px;
  padding: 8px 10px;
  border-radius: 6px;
}
.searchIconInputContainer {
  padding: 10px 12px;
}

.searchIcon {
  font-size: 20px;

  margin-top: 2px;
  cursor: pointer;
  color: var(--Primitive-500);
}
.input {
  color: var(--Primitive-300);
  background: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  text-overflow: ellipsis;
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  resize: none;
}
.input::placeholder {
  color: var(--Primitive-500);
}
.close {
  color: var(--Primitive-500);
  cursor: pointer;
  font-size: 18px;
}
.eye {
  cursor: pointer;
  font-size: 18px;
  color: var(--Primitive-400);
}
