.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.modal {
  background: var(--Primitive-800);
  max-width: 285px;
  margin: 0 auto;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.inputWrapper .input {
  min-height: 32px;
  padding: 8px 10px;
}
.icon {
  font-size: 45px;
  color: var(--Error-Default);
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.cancelButton {
  background: var(--Primary-transparent-6);
  color: var(--Primitive-400);
}
