.wrapper {
  background: url(../../images/claimAirdrop/art.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin: 0 auto;
  padding-top: 100px;
}
