.progressBar {
  display: flex;
  align-items: center;
  padding: 1px;

  height: 8px;
  width: 100%;
  border-radius: 6px;
  background: var(--Primitive-950);

  transition: background-color 0.5s ease-out;
}

.progress {
  height: 100%;
  background: var(--Primitive-Default);
  height: 100%;
  transition: width 0.5s ease-out;
  border-radius: 2px;
}
