.wrapper {
  display: flex;
  flex-direction: column;
  gap: 128px;
  background: url(../../../images/art.svg);
  padding: 100px 0;
  padding-top: calc(100px + 90px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}
.inputContainer {
  margin-top: 20px;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.feature {
  border-radius: 12px;
  background: var(--utilities-tp-white-3, rgba(255, 255, 255, 0.03));
  backdrop-filter: blur(calc(var(--blur-24, 24px) / 2));
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px 40px;
}
@media only screen and (max-width: 1199px) {
  .wrapper {
    gap: 64px;
  }
  .feature {
    padding: 24px 32px;
  }
}
@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 70px 0;
    padding-top: calc(50px + 70px);
  }
  .features {
    grid-template-columns: 1fr 1fr;
  }
  .feature {
    padding: 32px 40px;
  }
}
@media only screen and (max-width: 767px) {
  .features {
    max-width: 560px;
    margin: 0 auto;

    grid-template-columns: 1fr;
  }
  .feature {
    padding: 24px 32px;
  }
}
