.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.infoBox,
.fa2Security,
.devices {
  padding: 12px;
  border-radius: var(--radius-8, 8px);
  background: var(--Primary-transparent-3, rgba(255, 255, 255, 0.03));

  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;

  gap: 12px;
}

.label {
  font-size: 13px;
  color: var(--Primitive-200);
}
.labelHeading {
  padding-bottom: 4px;
}
.wrapper .button {
  border-radius: 6px;
  background: var(--Primitive-700);
  font-size: 13px;
  color: var(--Primitive-200);
  padding: 6px 8px;
}
.fa2Security,
.devices {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.heading {
  padding: 4px 12px;
  padding-bottom: 12px;
  position: relative;
  width: 100%;
}
.devider {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  z-index: 1;
}
.account,
.googleAuthenticator,
.macBook,
.android {
  display: grid;
  grid-template-columns:
    20px 1fr
    auto;
  gap: 12px;
  align-items: center;
  width: 100%;
  padding: 12px 12px;
  position: relative;
}
.macBook,
.android {
  grid-template-columns: 20px 1fr;
  align-items: start;
}
.logo {
  max-width: 20px;
  width: 100%;
}
.label {
  font-size: 13px;
  color: var(--Primitive-200);
}
/* devices */
.dot {
  color: var(--Primitive-500);
}
.current {
  color: var(--Primitive-Default);
  font-size: 12px;
}
