.wrapper {
  display: flex;
  flex-direction: column;

  background: url(../../images/claimAirdrop/art.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* margin-left: 240px; */
  padding-bottom: 16px;
}
.container {
  gap: 24px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 70px;
}
